<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Downloadable Links"} %>

<%= render :partial => 'spree/products/downloadable_links', :locals => {:product => @product} %>

<%= form_for [:admin, @product, @object], :html => { :method => :put, :multipart => true } do |f| %>
  <fieldset>
  <legend>Edit downloadable file</legend>

  <table class="basic-table" data-hook="edit_downloadable">
    <%= render :partial => 'form', :locals => { :f => f, :object => @object} %>
  </table>

  <p class="form-buttons">
    <%= button t("update") %>
    or <%= link_to t("cancel"), "#", :id => "cancel_link" %>
  </p>
  </fieldset>
<% end %>
