<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Downloadables"} %>

<table class="index">
	<tr>
	  <% if @product.has_variants? %>
	    <th><%= Variant.human_name %></th>
	  <% end %>
		<th><%= t("filename(s)") %></th>
		<th><%= t("description") %></th>
		<th width="40px"><%= t("enabled") %></th>
		<th width="120px"><%= t("action") %></th>
	</tr>
  <% @product.downloadables.each do |downloadable| %>
    <tr>
      <% if @product.has_variants? %>
        <td><%= t('all') %></td>
      <% end %>
      <td><%= link_to(downloadable.filename, downloadable.attachment.url(:product)) %></td>
      <td><%= h(downloadable.description) %></td>
      <td><%= check_box_tag 'downloadable', 'enabled', downloadable.enabled, :disabled => true %></td>
      <td class="actions" style="padding:0px;">
        <%= link_to_with_icon('edit', t("edit"), edit_admin_product_downloadable_url(@product, downloadable)) %>
        &nbsp;
        <%= link_to_delete downloadable, {:url => admin_product_downloadable_url(@product, downloadable) }%>
      </td>
    </tr>
  <% end %>

	<% @product.variants.each do |variant| %>
	  <tr>
	    <% if @product.has_variants? %>
        <td><%= variant.options_text %></td>
      <% end %>
	    <td>
	      <table>
	      <% variant.downloadables.each do |downloadable| %>
	        <tr><td><%= link_to(downloadable.filename, downloadable.attachment.url(:product)) %></td></tr>
	      <% end %>
	      </table>
	    </td>
	    <td>
	      <table>
	      <% variant.downloadables.each do |downloadable| %>
	        <tr><td><%= (downloadable.description == "") ? "&nbsp;" :  downloadable.description %></td></tr>
	      <% end %>
	      </table>
	    </td>
	    <td>
	      <table>
	      <% variant.downloadables.each do |downloadable| %>
	        <% if downloadable.zipfile? %>
            <tr><td>&nbsp;</td></tr>
          <% else %>
	          <tr><td>
	            <%= check_box_tag 'downloadable', 'enabled', downloadable.enabled, :disabled => true %>
	          </td></tr>
	        <% end %>
	      <% end %>
	      </table>
	    </td>
      <td class="actions" style="padding:0px;">
        <table>
	      <% variant.downloadables.each do |downloadable| %>
	        <% if downloadable.zipfile? %>
	          <tr><td>&nbsp;</td></tr>
	        <% else %>
  	        <tr><td><%= link_to_with_icon('edit', t("edit"), edit_admin_product_downloadable_url(@product, downloadable)) %>
            &nbsp;
            <%= link_to_delete downloadable, {:url => admin_product_downloadable_url(@product, downloadable) }%></td></tr>
          <% end %>
	      <% end %>
	      </table>
      </td>
	  </tr>
  <% end %>
</table>
